# These snippets are for math mode.

# Make sure that there is only a space after if there needs to be one for
# syntax, or the snippet is not automatic and it might be convenient.


# --- Context Definition for Math ---

global !p
def math():
    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

global !p
def xspace():
	  if t[0] and t[0][0] in [',', '.', '?', '-', ' ', '_', '^']:
	      snip.rv += ''
	  else:
	      snip.rv += ' '
endglobal

# --- Initiating Math  ---

snippet math "Math" bA
\[
`!p snip.shift(); snip.rv = snip.mkline()`$1
\]$0
endsnippet

snippet mm "Inline math" wA
$ ${1}$$2
endsnippet

snippet plot "Plot" b
\begin{figure}[h!] \centering
\begin{tikzpicture} \begin{axis}
		\addplot [domain=-${2:10}:$2, samples=100]
		{ ${0:${VISUAL:x^2}} };
\end{axis} \end{tikzpicture}
\caption{${1:Graph of a function.}}
\end{figure}
endsnippet

# --- Non-math elements ---

context "math()"
snippet spc "Empty space" wA
\quad$0
endsnippet

context "math()"
snippet tt "Text in math" wA
\text{${VISUAL}$1}$0
endsnippet

context "math()"
snippet == "Align equals" wA
&=$0
endsnippet

# --- Fractions ---

context "math()"
snippet // "Fraction (raw)" iA
\\frac{$1}{$2}$0
endsnippet

context "math()"
snippet "((\d+)|(\d*)(\\)?([A-Za-z]+)((\^|_)(\{\d+\}|\d))*)/" "Fraction (adaptive)" wrA
\\frac{`!p snip.rv = match.group(1)`}{$1}$0
endsnippet

# --- Arrays and Tables ---

context "math()"
snippet arr "Array Environment" w
\begin{array}{${1:c}} ${2:${VISUAL}} \end{array}$0
endsnippet

context "math()"
snippet vec "Vector" w
\left[\begin{array}{c} $1 \end{array}\right]$0
endsnippet

context "math()"
snippet (. "Large left invisible brace" i
\left.$0
endsnippet

context "math()"
snippet ). "Large right invisible brace" i
\right.$0
endsnippet

context "math()"
snippet (( "Large left brace" i
\left($0
endsnippet

context "math()"
snippet )) "Large right brace" i
\right)$0
endsnippet

context "math()"
snippet {{ "Large left curly brace" i
\left\\{$0
endsnippet

context "math()"
snippet }} "Large right curly brace" i
\right\\}$0
endsnippet

# --- Postfixes ---

context "math()"
snippet "(\\?\w+)(,\.|\.,)" "Vector postfix" riA
\vec{`!p snip.rv=match.group(1)`}$0
endsnippet

priority -1
context "math()"
snippet "([A-Za-z])([\d])" "Auto subscript" wrA
`!p snip.rv = match.group(1) + "_" + match.group(2)`
endsnippet
priority 0

context "math()"
snippet "\s?_(\w\w)" "Auto extend subscript" irA
_{`!p snip.rv = match.group(1)`$1}$0
endsnippet

context "math()"
snippet "\s?_(\w)" "Extend subscript" ir
_{`!p snip.rv = match.group(1)` $1}$0
endsnippet

context "math()"
snippet "\s?__" "Long subscript" irA
_{$1}$0
endsnippet

# NOTE: I am not sure if this causes interference for any words.
context "math()"
snippet "\s?td" "Auto superscript" irA
^$0
endsnippet

context "math()"
snippet "\s?\^(\w\w)" "Auto extend superscript" irA
^{`!p snip.rv = match.group(1)`$1}$0
endsnippet

context "math()"
snippet "\s?\^(\w)" "Extend superscript" ir
^{`!p snip.rv = match.group(1)` $1}$0
endsnippet

context "math()"
snippet "\s?\^\^" "Long superscript" irA
^{$1}$0
endsnippet

# --- Math fonts ---

# Generate single letters in the specified math fonts.
# For mathbb and mathcal make the letter upper case.
context "math()"
snippet "m?a?t?h?(bb|bf|cal|frak|sf)\s?(\w)" "Math fonts" rwA
\math`!p snip.rv = match.group(1)`{`!p
snip.rv = match.group(2)
if match.group(1) in ["bb", "cal"]:
	snip.rv = snip.rv.upper()
`}`!p xspace()`$0
endsnippet

# --- Logical Operators ---

context "math()"
snippet equ "Equivalent symbol" w
\equiv $0
endsnippet

context "math()"
snippet neq "Not equal symbol" w
\neq $0
endsnippet

context "math()"
snippet and "And symbol" w
\wedge $0
endsnippet

context "math()"
snippet or "Or symbol" w
\vee $0
endsnippet

context "math()"
snippet not "Not symbol" w
\neg $0
endsnippet

context "math()"
snippet imp "Implication arrow symbol" w
\Rightarrow $0
endsnippet

# --- Other Math ---

context "math()"
snippet larr "Left arrow symbol" w
\leftarrow $0
endsnippet

context "math()"
snippet rarr "Right arrow symbol" w
\rightarrow $0
endsnippet

context "math()"
snippet dt "Delta symbol" w
\Delta`!p xspace()`$0
endsnippet

context "math()"
snippet ld "Low dots symbol" w
\ldots`!p xpsace()`$0
endsnippet

context "math()"
snippet cd "Center dots symbol" w
\cdots`!p xspace()`$0
endsnippet

context "math()"
snippet inf "Infinity symbol" w
\infty`!p xspace()`$0
endsnippet

context "math()"
snippet set "A set" w
\\{$1\\}$0
endsnippet

context "math()"
snippet in "In symbol" w
\in $0
endsnippet

context "math()"
snippet to "To symbol" w
\to $0
endsnippet

context "math()"
snippet sm "Set minus symbol" w
\setminus $0
endsnippet

context "math()"
snippet bar "Bar with spaces around" w
\ | \ $0
endsnippet

context "math()"
snippet geq "Greater or equal to symbol" w
\geq $0
endsnippet

context "math()"
snippet leq "Less than or equal to symbol" w
\leq $0
endsnippet

context "math()"
snippet cup "Cup symbol" w
\cup $0
endsnippet

context "math()"
snippet cap "Cap symbol" w
\cap $0
endsnippet

context "math()"
snippet times "Times symbol" w
\times $0
endsnippet

context "math()"
snippet sum "Summation with subscript" w
\sum_{$1}$0
endsnippet

context "math()"
snippet sumto "Summation with sub- and superscript" w
\sum_{$1}^{$2}$0
endsnippet

context "math()"
snippet prod "Product with subscript" w
\prod_{$1}$0
endsnippet

context "math()"
snippet prodto "Product with sub- and superscript" w
\prod_{$1}^{$2}$0
endsnippet


